@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

@section Css{
    @await Html.PartialAsync("_ValidationCssPartial.cshtml")
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <user-picture-thumbnail class="aa" style="width:300px" picture-url="@Model.PictureUrl"></user-picture-thumbnail>
    </div>
</div>


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Kullanıcı Bilgileri</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Telefon No</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

